.listRecruitmentPlan-container {
  width: 65%;
  border: 1px solid #000;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  margin: 1rem auto;

  .process-buton {
    padding: 0.5rem 2rem;
    font-size: 0.8rem;
    font-weight: 500;
    border-radius: 5px;
  }
  
}