.listPlanDetail-container {
  width: 100%;
  padding: 0 3rem;

  .planDetail-item {
    width: 80%;
    //border: 1px solid #116835;
    border-radius: 0.5rem;
    margin: 1rem auto;
    padding: 1.5rem 2rem;
    .item-value {
      border: 1px solid #116835;
      border-radius: 1rem;
      padding: 0.3rem 1rem;
      display: flex;
    }

    .process-buton {
      padding: 0.5rem 1rem;
      font-size: 0.8rem;
      font-weight: 500;
      border-radius: 5px;
    }

    .btn-create {
      border-radius: 8px;
      width: 40%;
      height: 2.5rem;
      color: #f5fef9;   
    }
  }
}
