.login-container {
    background-color: #fff;
    height: 100vh;
    .login-left {
      background-color: #f5fef9;
  
      .loginpage-image {
        margin: 250px auto 0px auto;
      }
    }
  
    .login-right {
      padding: 15% 17%;
  
      .right-container {
        .login-form {
          margin: 20px 20px 30px 20px;
  
          .btn-login {
            background-color: #116835;
            border-radius: 10px;
            width: 100%;
            height: 2.5rem;
            color: #f5fef9;
          }
        }
      }
    }
  }
  
  .field-input {
    display: inline-flex;
    width: 100%;
    border: 1px solid #eee;
  }
  
  .input-error {
    font-size: 1.2rem;
    color: #ec3f3f;
    background-color: #ffe5e2;
    margin-bottom: 2rem;
  }
  .input-success {
    font-size: 1.2rem;
    color: #109c46;
    background-color: #c6fd87;
    margin-bottom: 2rem;
  }
  
  
  
  
  