.filter-container {
  display: flex;
  justify-content: space-evenly;
  background-color: #E9FCE9;
  padding: 1.5rem 0 1rem 0;
}

.cv-container {
  width: 95%;
  margin: 1rem auto;

  .label-status {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 2rem;
    border-radius: 0.5rem;
  }
}