.jobApply-container {
  .title-container {
    display: inline-flex;
    padding: 2rem 5rem 0 2rem;
    width: 100%;
  }

  .jobApply-content {
    padding: 0 2rem;
    .request-item {
      background-color: #fff;
      border: 1px solid #116835;
      border-radius: 0.3rem;
      margin: 0.7rem 1rem;
      padding: 15px 12px;
    }
  }
}

.aa {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.btn-create {
  border-radius: 8px;
  width: 7rem;
  height: 2.5rem;
  color: #f5fef9;
}

.change-param-field:focus {
  outline: 1px solid #c0c0c0;
}
