.notification-container {
  background-color: #FFF;
  width: 80%;
  margin: 1rem auto;
  padding: 1rem 2rem;

  .notification-item {
    margin: 0 0 1rem 0;
    border-bottom: 1px solid #1BC5BD;
  }
}