.recruitmentrequest-container {

  .create-request {
    display: flex;
    font-weight: 500;
    font-size: 1.15rem;
    margin: 0 0.5rem 2rem 0;
    color: #0f6e00;
  }

  .filter-container {
    display: flex;
    justify-content: center;

    .inputName {
      border: 1px solid rgb(71, 71, 71);
      border-radius: 5px;
      font-size: 1rem;
      font-weight: 400;
      margin-right: 2rem;
      height: 2.4rem;
      line-height: 2.2rem;
      width: 20rem;
    }
  }

  .pagination-container {
    display: flex;
    justify-content: center;
    margin: 0 1rem 1rem 1rem;
  }
}

.modalCreateRequest-container {
  padding: 1rem 2rem;
  .modalCreateRequest-title {
    display: flex;
  }
  .modalCreateRequest-content {
    .progressbar {
      height: 5px;
      background-color: #1BC5BD;
      border-radius: 10px;
      margin: 1rem 0;
    }
  }

  .btn-create {
    //background-color: #20D489;
    border-radius: 8px;
    width: 40%;
    height: 2.5rem;
    color: #f5fef9;   
  }
}

.item-value {
  border: 1px solid #116835;
  border-radius: 1rem;
  padding: 0.3rem 1rem;
  display: flex;
}
