.change-password-container {
  margin: 0 1rem;

  .form-change-password {
    width: 70%;
    margin: 0 auto;
    padding: 2rem 10rem;
    border-radius: 0.3rem;
    background-color: #fff;

    .field-input {
      display: inline-flex;
      width: 100%;
      border: 1px solid #eee;
      .input-tag {
        margin: 5px 7px;
        font-size: 1rem;
        width: 100%;
      }
    }
  }

  .btn-change-password {
    background-color: #116835;
    border-radius: 10px;
    width: 100%;
    height: 2.5rem;
    color: #f5fef9;
    margin-top: 2rem;
  }
}

.input-error {
  font-size: 1.2rem;
  color: #ec3f3f;
  background-color: #ffe5e2;
  margin-bottom: 2rem;
}
.input-success {
  font-size: 1.2rem;
  color: #109c46;
  background-color: #c6fd87;
  margin-bottom: 2rem;
}
