.change-password-container {
  background-color: #fff;
  margin: 2rem 2.5rem;
  border-radius: 0.5rem;
  .left-container {
    text-align: center;
  }

  .right-container {
    .form-change-password {

      padding: 3rem 10rem 3rem 6rem;
      border-radius: 0.5rem;
    }

    .btn-change-password {       
        background-color: #116835;
        border-radius: 10px;
        width: 100%;
        height: 2.5rem;
        color: #f5fef9;
      }
      
  }
}

.field-input {
  display: inline-flex;
  width: 100%;
  border: 1px solid #eee;
}

.hideShowPassword{
    margin: auto 5px;
}

.input-error {
  font-size: 1.2rem;
  color: #ec3f3f;
  background-color: #ffe5e2;
  margin-bottom: 2rem;
}
.input-success {
  font-size: 1.2rem;
  color: #109c46;
  background-color: #c6fd87;
  margin-bottom: 2rem;
}
  